*{
    margin: 0;
    padding: 0;
    list-style: none;
text-decoration: none;

}
a{
    color: inherit;
}
body{
    background-image: url(second\ pg\ bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid white;
    justify-content: space-around;
}

.navbar li{
    padding-left: 4rem;
    padding-right: 1rem;
align-self: center;
color: black;
background-color: #979FC8;
width: 8rem;
height: 3rem;
border-radius: 2rem;
}
.links1 h3{
    padding-top: 13px;
    padding-bottom: 1rem;
    
}
.links0 h3{
    padding-top: 13px;
    padding-bottom: 1rem;
   
}.links2 h3{
    padding-top: 13px;
    padding-bottom: 1rem;
    
}
.links3 button{
    padding-top: 13px;
    padding-bottom: 1rem;
}
.links3 button{
    background-color: #979FC8;
    border: #979FC8;
    font-size: 19px;
    position: absolute;
    right: 29rem;
    height: 2rem;
}

.searchbar :placeholder-shown{
    padding-left: 10px;
   

}
.searchbar input{
    height: 35px;
    width: 17rem;
    border-radius: 11px;
    border:white;
    margin-top: 13px;
}
.searchbar i{
right: 63px;
position: absolute;
margin-top: 22px;
}

.midpage{
    display: flex;
    
}
.card1{
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: 2px 0px 20px 2px black;
    height: 82.5vh;
    border-top-right-radius: 2rem;
    border-top-left-radius: 1.4rem;
    margin-top: 3rem;
}
.topic{
    display: flex;
}
.profile{
    margin-top: 2rem;
    background-color: grey;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}
.profile i{
    font-size: 6rem;
    padding-top: 2rem;
    padding-left: 2.4rem;
}
.username{
    color: white;
    margin-left: 2.3rem;
    margin-top:10px;
}
.ok2 i{
    margin-top: 5.7px;
    font-size: 2rem;
}
.ok2 h2{
    padding-top: 10px;
    margin-left: 10px;
}
.ok2{
    margin-top: 2rem;
    color: white;
}
.subtopic{
    color: white;
    margin-top: 1.3rem;
}
.subtopic i{
margin-right: 10px;

}

.otherhalf{
    color: black;
    margin-left: 4rem ;
    margin-top: 3rem;
    color: black;
    font-size: 2rem;
    width: 55rem;
    background: black;
}

.otherhalf input{
    margin-top: 5px;
    height: 2rem;
    width:99%; 
    font-size: 1.5rem;
    overflow: hidden;
}
